<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ServiceName" value="VNSInvoiceService"/>
    <add key="FolderXML" value="C:\Users\lango\Desktop\VNS_XML"/> <!--Đường dẫn thư mục-->
    <add key="Taxcode" value="0303313001"/>    <!--Mã số thuế-->
    <add key="Url" value="http://localhost:8086"/>
    <add key="Username" value="root"/>
    <add key="Password" value="Esc@2011"/>
    <add key="WaitTime" value="2"/>    <!--Thời gian tính theo phút-->
    <add key="SendMail" value="0"/>    <!--Có gửi mail khi có file lỗi không-->
  </appSettings>
</configuration>